<main class="about">

    <div class="back-color"></div>

    <app-header></app-header>

    <section class="intro">

        <div class="about-content">

            <h1 class="limelight-regular">
                {{ intro.title }}
            </h1>

            <hr>

            <p>
                {{ intro.content }}
            </p>

            <br>

            <a *ngFor="let item of aboutLinks" [href]="item.link" target="_blank">

                {{ item.linkTo }}

            </a>

        </div>

        <div class="profile-picture">

            <img src="images/about-page/profile-picture.jpg" alt="Ling Chang">

        </div>

    </section>

    <!-- Education -->
    <section class="background">

        <h1 class="limelight-regular">

            Education

        </h1>

        <hr>

        <div class="background-holder" *ngFor="let edu of education">

            <div class="time-line">

                <p>

                    {{ edu.period }}

                </p>

            </div>

            <div class="bg-content">

                <p>

                    {{ edu.period }}

                </p>

                <h3>

                    {{ edu.college }}

                </h3>

                <h5>

                    {{ edu.major }}

                </h5>

                <ul>

                    <li>

                        Focus Areas: {{ edu.focus }}

                    </li>

                    <li *ngIf="edu.gpa">

                        GPA: {{ edu.gpa }}

                    </li>

                </ul>

            </div>

        </div>

    </section>

    <!-- Work experience -->
    <section class="background">

        <h1 class="limelight-regular">

            Work Experience

        </h1>

        <hr>

        <div class="background-holder" *ngFor="let work of workExperience">

            <div class="time-line">

                <p>

                    {{ work.period }}

                </p>

            </div>

            <div class="bg-content">

                <p>

                    {{ work.period }}

                </p>

                <h3>

                    {{ work.jobTitle }}

                </h3>

                <h5>

                    {{ work.company }}

                </h5>

                <ul>

                    <li *ngFor="let item of work.highlights">

                        {{ item }}

                    </li>

                </ul>

            </div>

        </div>

    </section>

    <!-- Activities -->
    <section class="background">

        <h1 class="limelight-regular">

            Activities & Leadership

        </h1>

        <hr>

        <div class="background-holder" *ngFor="let activity of activities">

            <div class="time-line">

                <p>

                    {{ activity.period }}

                </p>

            </div>

            <div class="bg-content">

                <p>

                    {{ activity.period }}

                </p>

                <h3>

                    {{ activity.jobTitle }}

                </h3>

                <h5>

                    {{ activity.organization }}

                </h5>

                <ul>

                    <li *ngFor="let item of activity.highlights">

                        {{ item }}

                    </li>

                </ul>

            </div>

        </div>

    </section>
</main>