:host {
    display: block;
}

.back-color {
    position: fixed;
    top: -8em;
    right: 20em;
    width: 20%;
    height: 10em;
    /* background-color: var(--nav-bg-color); */
    background-color: var(--nav-bg-color);
    border-radius: 50%;
    box-shadow: -15px 10px 80px 80px var(--nav-bg-color);
}

.home {
    width: 100%;
    max-width: 1680px;
    padding: 10%;
}

.cover-content {
    position: relative;
    top: 40vh;
    right: 1em;
    width: 100%;
}

.scroll-content {
    width: 100%;
    height: 2.8em;
    overflow: hidden;
}

.scroll-content li {
    font-size: 2.5em;
    line-height: 42px;
    overflow: hidden;
}

.scroll-content li p {
    font-family: "Limelight", sans-serif;
    font-size: 1.5rem;
}

.cover-content h1 {
    font-size: 5em;
}

.cover-content h3 {
    font-size: 3em;
}

.cover-content h1,
.cover-content h3,
.cover-content p {
    text-shadow: 1.5px 1.5px 0 white;
    padding-top: 0;
}


@media screen and (min-width: 1600px) {

    /*font-size*/
    h1 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.2em;
    }

    li {
        font-size: 1.2em;
    }
}