<main class="home">
    <!-- <div class="loader-container" *ngIf="loading">
        <div class="loader"></div>
    </div> -->

    <video autoplay muted loop playsinline id="video">
        <source src="images/home-bg-video.mp4" type="video/mp4">
    </video>


    <app-header></app-header>

    <section class="home limelight-regular">

        <div class="cover-content">

            <h3>Hi there, i'm</h3>

            <h1>Ling Chang</h1>

            <ul class="scroll-content">
                <li>
                    <p>A designer, developer, and...</p>
                </li>

                <li>
                    <p>creator of human-centered experiences.</p>
                </li>
            </ul>

        </div>

    </section>
</main>